/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


/* Styles for desktop tabs */
.desktop-tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: linear-gradient(to right, #fffdf3, #c0c0c0);
    z-index: 1000;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 1);
}

.desktop-tabs::before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(to right, rgba(155, 227, 255, 0.2) 0%, rgba(165, 155, 255, 0.4) 25%, rgba(155, 227, 255, 0.2) 50%, rgba(165, 155, 255, 0.4) 75%, rgba(155, 227, 255, 0.2) 100%);
    animation: moveGradient 10s linear infinite;
    z-index: -1;
}

.desktop-tab {
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, font-size 0.3s;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.desktop-tab:hover {
    background: rgba(255, 255, 255, 0.5);
    font-size: 110%;
}

@keyframes moveGradient {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Styles for mobile menu icon */
.mobile-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    z-index: 1000; /* Ensure the icon is above the tabs */
}

.mobile-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Styles for mobile menu */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    z-index: 1500;
}

/* Styles to hide desktop tabs on mobile */
@media only screen and (max-width: 600px) {
    .desktop-tabs {
        display: none;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}


/* Styles for mobile tab */
.mobile-tab {
    cursor: pointer;
    padding: 10px;
}

.mobile-tab:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Additional styles for page container and image */
/* Additional styles for page container and image */
#image-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* 스크롤을 사용할 수 있게 함 */
}

#image-container img {
    max-width: 100%;
    max-height: 100%;
    user-drag: none;
    user-select: none;
    /* 빛나는 테두리 설정 */
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.9), /* 적절한 값으로 조절 가능 */
                0 0 30px 15px rgba(255, 255, 255, 0.5), /* 적절한 값으로 조절 가능 */
                0 0 100px 40px rgba(255, 255, 255, 0.2); /* 적절한 값으로 조절 가능 */
}


/* Set image scale 60% on PC */
@media only screen and (min-width: 769px) {
    #image-container img {
        max-width: 60%;
    }
}

/* Set image scale 100% on Mobile */
@media only screen and (max-width: 768px) {
    #image-container img {
        max-width: 100%;
    }
}

/* 기본 스타일 */
body, html {
    margin: 0;
    padding: 0;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* 미디어 쿼리를 사용하여 PC에서만 적용되는 스타일 */
@media only screen and (min-width: 769px) {
    #video-background {
        display: block; /* 화면이 769px 이상인 경우 영상을 숨깁니다. */
    }

    body {
        background: url('1.mp4') no-repeat center center fixed;
        background-size: cover;
    }
}
